@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --font-dm-sans: "DM Sans", sans-serif;
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
}

.grid-template {
  grid-template-areas:
    "slogan slogan"
    "search search"
    "weather hourly"
    "details hourly"
    "daily hourly";
}

.grid-area-slogan {
  grid-area: slogan;
}

.grid-area-search {
  grid-area: search;
}

.grid-area-weather {
  grid-area: weather;
}

.grid-area-details {
  grid-area: details;
}

.grid-area-daily {
  grid-area: daily;
}

.grid-area-hourly {
  grid-area: hourly;
}
