@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@layer base {
  :focus {
    @apply outline-2 outline-offset-[3px];
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --color-*: initial;

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --font-dm-sans: "DM Sans", sans-serif;
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
}

.loader {
  width: 56px;
  aspect-ratio: 8/5;
  --dot: no-repeat radial-gradient(#000 68%, #0000 71%);
  mask: var(--dot), var(--dot), var(--dot);
  mask-size: 25% 40%;
  background: var(--color-neutral-200);
  animation: load 2s infinite;
}

@keyframes load {
  0% {
    mask-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
  16.67% {
    mask-position:
      0% 100%,
      50% 0%,
      100% 0%;
  }
  33.33% {
    mask-position:
      0% 100%,
      50% 100%,
      100% 0%;
  }
  50% {
    mask-position:
      0% 100%,
      50% 100%,
      100% 100%;
  }
  66.67% {
    mask-position:
      0% 0%,
      50% 100%,
      100% 100%;
  }
  83.33% {
    mask-position:
      0% 0%,
      50% 0%,
      100% 100%;
  }
  100% {
    mask-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
}
